.dokdo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8 !important;
  letter-spacing: -0.05em;
}
@-moz-document url-prefix() {
  .dokdo,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.06em;
  }
}
.shantell {
  font-family: "Shantell Sans", cursive;
  letter-spacing: 0.05em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.text-stroke {
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.grayscale {
  filter: grayscale(20%);
}

/* Custom Button (Paper Look) */
button,
.btn,
.btn-style {
  font-family: "Dokdo", system-ui;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.1);
  transition: all 235ms ease-in-out 0s;
  border-style: solid;
  border-width: 1px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 0.2em;
}
button:hover,
.paper-btn:hover,
[type="button"]:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}
button:focus,
.paper-btn:focus,
[type="button"]:focus {
  border-style: solid;
  border-width: 1px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
button:active,
.paper-btn:active,
[type="button"]:active {
  transition: none;
}

.custom-border {
  border-bottom-left-radius: 6px 50px;
  border-bottom-right-radius: 50px 6px;
  border-top-left-radius: 20px 6px;
  border-top-right-radius: 8px 50px;
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px;
}

.custom-border-width {
  border-right-width: 4px;
  border-bottom-width: 4px;
}
.custom-border-width-2 {
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.rotate-1 {
  transform: rotate(0deg);
}

.rotate-2 {
  transform: rotate(1deg);
}

.rotate-3 {
  transform: rotate(-1deg);
}
.rotate-4 {
  transform: rotate(-1deg);
}
.title-rotate-1 {
  transform: rotate(-3deg);
}
.title-rotate-2 {
  transform: rotate(-4deg);
}
.title-rotate-3 {
  transform: rotate(-5deg);
}
.title-rotate-4 {
  transform: rotate(-5deg);
}
.test {
  margin-left: -1rem;
  margin-bottom: -1.2rem;
}
