:root {
	--bg-pattern: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' rgba='(0, 0, 0, 0)' width='16' height='16' %3E%3Cpath d='M1.6 1.1a.4.4 0 1 1-.7 0 .4.4 0 0 1 .7 0Zm13.6 11a.3.3 0 1 1-.6 0 .3.3 0 0 1 .6 0ZM2.9 4.4a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.6 3.7a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM5 10.6a.2.2 0 1 1-.5 0 .2.2 0 0 1 .5 0Zm4.9-4a.5.5 0 1 1-1.1 0 .5.5 0 0 1 1 0Zm-4 .1a.3.3 0 1 1-.6 0 .3.3 0 0 1 .6 0Zm7 6.6a.9.9 0 1 1-1.8 0 .9.9 0 0 1 1.8 0ZM14.4 1a.2.2 0 0 1-.5 0 .2.2 0 0 1 .5 0ZM1.8 14.2a.2.2 0 1 1-.5 0 .2.2 0 0 1 .5 0Zm13.7 1.2a.2.2 0 1 1-.4 0 .2.2 0 0 1 .4 0ZM13.9 4a.8.8 0 1 1-1.6 0 .8.8 0 0 1 1.6 0ZM2.6 8.7a.8.8 0 1 1-1.6 0 .8.8 0 0 1 1.6 0ZM10.8 2a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM8 14.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm0-4.7a.3.3 0 1 1-.6 0 .3.3 0 0 1 .6 0Zm2.2 1.2-.2.2a.2.2 0 1 1 .2-.2Zm1.5-2a.3.3 0 1 1-.6 0 .3.3 0 0 1 .6 0ZM6.9 2.2a1 1 0 1 1-1.8 0 1 1 0 0 1 1.8 0ZM5.3 13.1a.7.7 0 1 1-1.5 0 .7.7 0 0 1 1.5 0Zm3.4-8.6a.2.2 0 1 1-.4 0 .2.2 0 0 1 .4 0Z' /%3E%3C/svg%3E");
}

body {

	background-image: 
		radial-gradient(
			circle 64em at 4em 4em,
			rgba(255, 255, 255, 0.98),
			rgba(250, 250, 250, 0.94) 50%,
			rgba(248, 248, 248, 0.90)
		),
		var(--bg-pattern);

	background-size: cover, auto;
	background-repeat: no-repeat, repeat;
	background-attachment: fixed, scroll;

	font-optical-sizing: auto;
	font-feature-settings: "kern";
	font-variation-settings: "wdth" 100;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-y: scroll;

}

.dokdo, h1, h2, h3, h4, h5, h6 {
	font-family: "Dokdo", system-ui;
	font-weight: 400;
	font-style: normal;
	line-height: 0.8 !important;
	letter-spacing: -0.05em;
}
@-moz-document url-prefix() {
	.dokdo, h1, h2, h3, h4, h5, h6 {
		letter-spacing: -0.06em;
	}
  }
.shantell {
	font-family: "Shantell Sans", cursive;
	letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
.text-stroke {
	text-shadow: 
    1px 1px 0 black, 
   -1px 1px 0 black, 
    1px -1px 0 black, 
   -1px -1px 0 black;
}

.grayscale {
	filter: grayscale(100%);
  }

/* Custom Button (Paper Look) */
button, .btn {
	font-family: "Dokdo", system-ui;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	transition: all 235ms ease 0s;
	box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.1);
	transition: all 235ms ease-in-out 0s;
	border-style: solid;
	border-width: 1px;
	border-right-width: 3px;
	border-bottom-width: 2px;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 0.2em;
}
button:hover,
.paper-btn:hover,
[type=button]:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}
button:focus,
.paper-btn:focus,
[type=button]:focus {
  border-style: solid;
  border-width: 1px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
button:active,
.paper-btn:active,
[type=button]:active {
  transition: none;
}